body {
  background: #f9f9f9;
}
a {
  color: #ff6600;
}
a:hover {
  color: #ff4901;
}
.button {
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -0-border-radius: 3px 3px 3px 3px;
  -ms-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}
.s-ml {
  margin-left: 5px;
}
.s-mlr {
  margin: 0 5px;
}
.n-mlr {
  margin: 0 10px;
}
.s-pl {
  padding-left: 5px;
}
#nav-global {
  background-color: #ffffff;
  border-bottom: 2px solid #ff6600;
  margin-bottom: 0;
}
#logo {
  margin-left: 20px;
  font-size: 24px;
  color: #ff6600;
}
#container {
  background-color: #ffffff;
  width: 100%;
}
#container .container {
  padding: 20px;
}
.main-left {
  background-color: #f9f9f9;
  float: left;
  width: 200px;
  height: 100%;
}
.main-right {
  background-color: #ffffff;
  min-height: 300px;
  margin-left: 200px;
  border-left: 1px solid #e0e0e0;
  padding: 20px;
  overflow: hidden;
}
#user-manager {
  margin: 0;
  list-style: none;
}
#user-manager li {
  border-bottom: 1px solid #e0e0e0;
}
#user-manager li a {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  color: #333333;
}
#user-manager li a:hover {
  color: #ff6600;
}
#user-manager li.active a {
  color: #ff6600;
  background: #FFF;
}
.user-sign-box {
  margin: 0;
  min-width: 500px;
}
.user-sign-box dt,
.user-sign-box dd {
  border: 1px solid #e0e0e0;
  margin: 0;
  padding: 5px 10px;
}
.user-sign-box dt {
  background-color: #f9f9f9;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -0-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
}
.sign-action-group {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 22px;
  padding: 10px 20px;
}
.sign-action-group .user-email {
  color: #666666;
  margin-right: 10px;
}
.site-search-box {
  text-align: right;
}
.site-search-box .submit {
  vertical-align: top;
}
.widget-top-info {
  position: relative;
  padding: 0 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
}
.widget-progressbar {
  position: absolute;
  right: 20px;
  top: 0;
  font-size: 12px;
  font-weight: normal;
}
.label-radio {
  display: inline-block;
  margin-right: 10px;
  margin-top: 4px;
}
.label-radio input[type="radio"] {
  margin: 0 5px;
}
.form-horizontal .controls {
  line-height: 30px;
}
.banners {
  margin: 0 0 20px;
}
.banners .banner {
  float: left;
  width: 45%;
  margin-right: 20px;
  _margin-right: 10px;
  background-color: #e0e0e0;
  padding: 20px 0 0;
}
/***accordion-group****/
.popup-widget-group,
.permanent-widget-group,
.couplet-widget-group {
  margin-bottom: 20px;
}
.accordion-heading {
  background-color: #f9f9f9;
  padding: 5px 10px;
}
.accordion-heading label {
  margin: 0;
}
.accordion-inner {
  margin: 0;
}
.accordion-inner .widget-item {
  position: relative;
  display: inline-block;
  border: 1px solid #999999;
  white-space: nowrap;
  padding: 10px;
  margin: 10px;
  width: 180px;
  height: 100px;
}
.accordion-inner .widget-active {
  border-color: #468847;
}
.accordion-inner .widget-item h5 {
  text-overflow: ellipsis;
  overflow: hidden;
}
.accordion-inner .widget-item .action-group {
  position: absolute;
  margin: 0;
  background: #999999;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 25px;
  line-height: 25px;
  text-align: right;
}
.accordion-inner .widget-active .action-group {
  background-color: #468847;
}
.accordion-inner .widget-item .action-group a {
  display: inline-block;
  color: #FFF;
  margin-right: 10px;
}
.accordion-inner .widget-item .action-group .widget-code {
  float: left;
  margin-left: 10px;
}
.accordion-inner .widget-item .widget-hidden-action {
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  text-align: right;
  overflow: hidden;
}
.widget-hidden-action .action-left {
  float: left;
}
.accordion-inner .widget-item .widget-hidden-action a {
  color: #FFF;
  padding: 0 10px;
}
/*******end******/
#footer {
  padding: 20px;
  color: #999999;
  text-align: center;
  border-top: 1px solid #e0e0e0;
  font-size: 11px;
}
.alert {
  display: none;
}
#error-summary {
  display: none;
  height: 20px;
  padding: 10px 20px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -0-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.success {
  color: #90B05E;
  border: 1px solid #C0DF93;
  background-color: #EFF9DE;
}
.error {
  color: #B48B92;
  border: 1px solid #F3ADB3;
  background-color: #FFEBEB;
}
.action-group {
  margin-bottom: 20px;
}
#ad-setting .setting-box {
  display: none;
  margin-bottom: 20px;
  background: #f9f9f9;
  padding: 20px 0 0;
  border: 1px solid #e0e0e0;
}
.edit-form-top {
  border-bottom: 1px solid #000000;
  padding-bottom: 10px;
}
table .site-logo {
  max-width: 125px;
  max-height: 50px;
  border: 1px solid #e0e0e0;
}
#site-info-wrap .site-logo {
  height: 40px;
  border: 1px solid #e0e0e0;
}
.pagination .page-number {
  display: inline-block;
  vertical-align: text-bottom;
  padding: 0 10px;
  color: #666666;
  cursor: default;
}
/******log-block******/
.textlength-normal {
  width: 125px;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: default;
  white-space: nowrap;
}
.log-block dt {
  background: bisque;
  padding: 0 5px;
}
.log-block dd {
  margin: 5px 20px 0;
  border-bottom: 1px dotted #e0e0e0;
}
