<!DOCTYPE HTML>
<html>
<head>
	<title> Code Of Instreet Popup</title>	
	<% include ../head%>	
</head>
<body>
<div>
<pre><code>&lt;!--弹窗广告代码--&gt;
&lt;script type="text/javascript"&gt;
	instreet_widgetSid="<%=(sid||"")%>";
&lt;/script&gt;
&lt;script type="text/javascript" src="<%=config.popupUrl%>" charset="utf-8"&gt;&lt;/script&gt;
</code></pre>
</div>
</body>
</html>
